nav {
  display: flex;
  align-items: center;
}

nav button {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

nav button:hover {
  background-color: #1976d2;
}
